

<!-- todo form well -->
<div ng-controller="TodoCtrl"class="well col-xs-8 offset" autofocus id="todo-well" >
 <input ng-model="newTodo" type="text" placeholder="Add  your to do list" class="form-control" id="todo-list" />{{newTodo}}
 <button ng-click="addNew()" class="btn btn-success pull-right">Submit</button><br>
 <legend>{{ todo }}</legend>
 <legend>You have {{todos.length}} things to do. </legend>
 <b><li ng-repeat="todo in todos">
  <div class="well">{{todo.title}}
    <a ng-click="delete(todo)" class="glyphicon glyphicon-remove pull-right"></a></li></b>
  </div>

</div>